
@font-face{
    font-family: 'myriadpro-regular';
    src: url('../fonts/MyriadPro/myriadpro-regular.ttf');
    src: url('../fonts/MyriadPro/myriadpro-regular.eot');
    src: url('../fonts/MyriadPro/myriadpro-regular.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat-Thin';
    src: url('../fonts/Montserrat/Montserrat-Thin.ttf');
    src: url('../fonts/Montserrat/Montserrat-Thin.eot');
    src: url('../fonts/Montserrat/Montserrat-Thin.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'TruenoBdOl';
    src: url('../fonts/trueno/TruenoBdOl.otf');
    src: url('../fonts/trueno/TruenoBdOl.ttf');
    src: url('../fonts/trueno/TruenoBdOl.eot');
    src: url('../fonts/trueno/TruenoBdOl.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'TruenoSBd';
    src: url('../fonts/trueno/TruenoSBd.otf');
    src: url('../fonts/trueno/TruenoSBd.ttf');
    src: url('../fonts/trueno/TruenoSBd.eot');
    src: url('../fonts/trueno/TruenoSBd.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'TruenoBd';
    src: url('../fonts/trueno/TruenoBd.ttf');
    src: url('../fonts/trueno/TruenoBd.otf');
    src: url('../fonts/trueno/TruenoBd.eot');
    src: url('../fonts/trueno/TruenoBd.woff');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'TruenoLt';
    src: url('../fonts/trueno/TruenoLt.otf');
    src: url('../fonts/trueno/TruenoLt.eot');
    src: url('../fonts/trueno/TruenoLt.woff');
    src: url('../fonts/trueno/TruenoLt.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Audiowide';
    src: url('../fonts/Audiowide/Audiowide-Regular.eot');
    src: url('../fonts/Audiowide/Audiowide-Regular.ttf');
    src: url('../fonts/Audiowide/Audiowide-Regular.woff');
    font-weight: normal;
    font-style: normal;
}


@import "sass_modules/parth_1_header_nav";
@import "sass_modules/parth_2_header";
@import "sass_modules/parth_3_main_content";

@import "sass_modules/jscontent";

@import "sass_modules/parth_4_posts";
@import "sass_modules/parth_5_slider";
@import "sass_modules/parth_6_footer";
// @import "sprite";
@import "sass_modules/parth_7_425px";

